@model CarrinhoCompraViewModel

@if (Model.CarrinhoCompra.CarrinhoCompraItens.Count > 0)
{    
    <li>
        <a class="nav-link" asp-controller="CarrinhoCompra">  
            <span class="fas fa-shopping-cart" id="cart-status">
                @Model.CarrinhoCompra.CarrinhoCompraItens.Count
            </span>
        </a>
    </li>
}