<li class="nav-item dropdown">
    
    <a class="nav-link text-light dropdown-toggle" id="navbardrop" data-toggle="dropdown" asp-controller="Comida" asp-action="List">Comidas <b class="caret"></b></a>

    <ul class="dropdown-menu">
        @foreach (var categoria in Model)
        {
            <li>
                <a class="dropdown-item" asp-controller="Comida" asp-action="List" asp-route-categoria="@categoria.CategoriaNome">@categoria.CategoriaNome</a>
            </li>
        }
        <li class="divider"></li>
        <li>
            <a class="dropdown-item" asp-controller="Comida" asp-action="List" asp-route-categoria="">Ver todas as Comidas</a>
        </li>
    </ul>    

</li>