@model HomeViewModel

@await Html.PartialAsync("_Carousel")

<br />
<h2>As preferidas da semana</h2> 
<br />
<h4>Está com fome???</h4>
<br />

<div class="row">    
    @foreach(var comida in Model.ComidasPreferidas) 
    { 
        @Html.Partial("_ComidasResumo", comida)
    }
</div>
