@model ComidaListViewModel

<div><h2>@Model.CategoriaAtual</h2></div>

<div class="row">    
    @foreach (var comida in Model.Comidas)
    {
        @Html.Partial("_ComidasResumo", comida);
    }
</div>







