@model IEnumerable<Comida>

<div><h2>Todas as Comidas</h2></div>

@foreach (var comida in Model)
{
    <div class="col-sm-4 col-lg-4 col-md-4">
            <div>
                <img src="@comida.ImagemUrl"  class="img-rounded" alt=""/>
            </div>
            <div class="caption">
                <h3 class="pull-righ">@comida.Preco.ToString("c")</h3>
                <h3>
                     @comida.Nome
                </h3>
                <p>@comida.DescricaoCurta</p>
            </div>
     </div>

}







