<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Comidas </title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />    
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">

            <a class="navbar-brand" href="#"><img src="~/Images/Logo.jpg" alt="" width="50" height="30"></a>

            <ul class="nav navbar-nav">

                <li><a class="nav-link" asp-controller="Home" asp-action="Index">Home</a></li>

                @await Component.InvokeAsync("CategoriaMenu")

                <li> <a class="nav-link" asp-controller="Contato" asp-action="Index">Contato</a></li>

                @await Component.InvokeAsync("CarrinhoCompraResumo")

                <li class="fas fa-shopping-cart"></li>
            </ul>
            <form class="navbar-form navbar-right" asp-controller="Comida" asp-action="Search" method="get">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Procurar comida" name="searchString" value="@ViewData["searchString"]">
                </div>
            </form>
        </nav>        
        <br>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">        
        <div class="container">
            &copy; 2020 -  Luciana Amancio  
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
