@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Identity.EntityFrameworkCore

@inject SignInManager<IdentityUser> SignInManager


    @if (SignInManager.IsSignedIn(User))
    {
        <form asp-area="" asp-controller="Account" asp-action="Logout" id="logoutForm" method="post" class="navbar-form">
            <ul class="nav navbar-nav">
                <li class="nav-link text-light"> @User.Identity.Name </li>
                <li><a class="nav-link text-light" href="javascript:document.getElementById('logoutForm').submit()" style="margin-left: 5px">Log off </a></li>
            </ul>
        </form>
    }
    else
    {
        <ul class="nav navbar-nav">
            <li><a class="nav-link text-light"  id="registerLink" asp-controller="Account" asp-action="Register"> Registrar </a></li>        
            <li><a class="nav-link text-light"  id="loginLink" asp-controller="Account" asp-action="Login"> Log in </a></li>
        </ul>
    }
